<div id="main_1" class="card" style="margin-top: 35px; border-radius: 30px;">
  <div class="outer" style="padding-top: 22px ; padding-bottom: 35px;">
    <p style="text-align: center; font-family: 'Arial'; font-size: 20px;"><b>BOOK YOUR BUS TODAY</b>
    </p>

    <form #searchBusForm="ngForm" (ngSubmit)="checkBus(searchBusForm)">
      <div id="errorForDirectClick" style="text-align: center; color: darkred;"></div>
      <div class="row">
        <div class="col_s">
          <span *ngIf="(src.dirty || src.touched)" style="color: darkred;">
            <span style="margin-left: 10%;" *ngIf="src.errors?.required">Source is required</span>
          </span><br>
          <input list="list-buses" type="text" id="source" name="source" [(ngModel)]="source" #src="ngModel"
            placeholder="ENTER SOURCE CITY" required style="margin-left: 10%;">
      
          <datalist id="list-buses">
            <option value="Pune">
            <option value="Mumbai">
            <option value="Chennai">
            <option value="Aurangabad">
            <option value="Nashik">
            <option value="Nagpur">
          </datalist>
        </div>
      
        <div class="col_s">
          <span *ngIf="(des.dirty || des.touched)" style="color: darkred;">
            <span style="margin-left: 9%;" *ngIf="des.errors?.required">Destination is required</span>
            <span style="margin-left: 9%;" *ngIf="source === destination && des.valid">Source and destination cannot be the same</span>
          </span><br>
      
          <input list="list-buses" type="text" id="destination" name="destination" [(ngModel)]="destination" #des="ngModel"
            placeholder="ENTER DESTINATION CITY" required style="margin-left: 5%;">
      
          <datalist id="list-buses">
            <option value="Pune">
            <option value="Mumbai">
            <option value="Chennai">
            <option value="Aurangabad">
            <option value="Nagpur">
          </datalist>
        </div>

        <div class="col_s">
          <span *ngIf="(dt.dirty||dt.touched)" style='color:darkred;'>
            <span style="margin-left: 9%;" *ngIf="dt.errors?.required">Travel date is required</span></span><br>

          <mat-form-field class="dt">
            <input matInput [matDatepicker]="picker" [min]="minDate" placeholder="   CHOOSE A DATE" name="dateOfJourney"
              required #dt="ngModel" [(ngModel)]=dateOfJourney>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <button type="submit" style="margin-left: 38%;"> SEARCH BUSES</button>
    </form>
  </div>
</div>
<div style="background-color: white; margin-top: 60px; width: 100%;">
  <div style="border-radius: 35px;">
    <br>
    <h2 style="text-align: center; font-size: 25px; font-family: 'Arial';"><b>POPULAR DESTINATIONS</b>
    </h2>
    <div id="main_1" class="slideshow-container">
      <div class="mySlides fade">
        <img src="../assets/jai.jpeg" id="img1" alt="JAIPUR" style="height: 450px;">
        <div class="text">JAIPUR
        </div>
      </div>

      <div class="mySlides fade">

        <img src="../assets/udaipur.jpg" id="img1" alt="JAIPUR" style="height: 450px;">
        <div class="text">UDAIPUR
        </div>
      </div>

      <div class="mySlides fade">
        <img src="../assets/hyd.jpg" id="img1" alt="JAIPUR" style="height: 450px;">
        <div class="text">HYDERABAD
        </div>
      </div>
      <div class="mySlides fade">
        <img src="../assets/goa.jpg" id="img1" alt="JAIPUR" style="height: 450px;">
        <div class="text">GOA
        </div>
      </div>
      <div class="mySlides fade">
        <img src="../assets/mumbai.jpg" id="img1" alt="JAIPUR" style="height: 450px;">
        <div class="text">MUMBAI
        </div>
      </div>
      <div class="mySlides fade">
        <img src="../assets/mangalore.jpg" id="img1" style="height: 450px;">
        <div class="text">MANGALORE
        </div>
      </div>
      <div class="mySlides fade">
        <img src="../assets/tirupati.jpg" id="img1" style="height: 450px;">
        <div class="text">TIRUPATI
        </div>
      </div>
    </div>
    <br>

    <div style="text-align:center">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

  </div>


  <section id="about-section"
    style=" background-color:#06d6a0; margin-top: 5%;margin-bottom: 70px;padding-left: 75px;padding-right: 75px;">
    <div class="section-title">
      <h2 style="font-size: 30px; font-family: Arial;"><b>ABOUT US </b></h2>
      <p style="font-family: Arial; font-size: 27px;"><b>E-Travels - India's fastest 
        online Bus Booking System</b></p>
      <br>
      <h2 style="text-align:center; font-size: 30px; font-family: Arial, sans-serif;"><b>Created by</b></h2>
      <h2 style="color: black; font-family: Arial, sans-serif;"><b>susmitha</b></h2>
      <h2 style="color: black; font-family: Arial, sans-serif;"><b>susmithabasireddy@gmail.com</b></h2>
    </div>
    

   
  </section>
  
</div>